<footer class="footer">
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget widget-text">
                        <h4 class="widget-title">Fundación Uqbar</h4>
                        <div class="text">
                            <p>Una fundación que impulsa la innovación en informática.
                                Se basa en la articulación de tres principios fundamentales:
                                investigación, enseñanza y desarrollo de software.
                            </p>
                        </div><!-- /.textwidget -->
                        <ul class="flat-socials">
                            {% if site.twitter_username %}
                            <li class="twitter">
                                <a href="https://twitter.com/{{ site.twitter_username }}">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.twitter_username %}
                            <li class="facebook">
                                <a href="https://www.facebook.com/{{ site.facebook_username }}">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.github_username %}
                            <li class="github">
                                <a href="https://github.com/{{ site.github_username }}">
                                    <i class="fa fa-github"></i>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.youtube_username %}
                            <li class="youtube">
                                <a href="http://www.youtube.com/channel/{{ site.youtube_username }}?feature=watch">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.googleplus_username %}
                            <li class="google-plus">
                                <a href="https://plus.google.com/{{ site.googleplus_username }}?rel=author">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div><!-- /.widget -->
                </div><!-- /.col-md-4 -->

            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.footer-widgets -->
</footer><!-- /footer -->

<!-- Go Top -->
<a class="go-top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</a>
