<section class="flat-row no-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section style1 large">
                    <h3 class="title">Acerca de nosotros</h3>
                    <div class="icon">
                        <img src="images/icon/line.png" alt="image">
                    </div>
                    <p class="desc">
                        Nuestro nombre está inspirado en el cuento "Tlön, Uqbar, Orbis Tertius", escrito por
                        Jorge
                        Luis Borges, remitiendo a aquel lugar que despierta la curiosidad y para el cual no hay
                        mapas ni caminos predeterminados.
                    </p>
                    <p class="desc">
                        ¿Por qué una fundación? Somos un grupo independiente, que trabajamos en conjunto con
                        personas y entidades interesadas en los mismos temas. Todos tenemos poder de decisión y
                        así
                        construimos nuestra manera de hacer que las cosas funcionen
                    </p>
                </div>
            </div>
        </div>
    </div><!-- /.container -->
</section><!-- /flat-row -->

<section class="flat-row no-padding full-color">
    <div class="row">
        <div class="navigation post-navigation">
            <ul class="nav-links">
                <p class="text">Nos basamos en la articulación de tres principios fundamentales</p>
            </ul>
        </div><!-- /navigation -->
    </div><!-- /row -->
</section>

<section class="flat-row no-padding-bottom no-padding-top">
    <div class="row">
        <div class="col-md-12">
            <div class="flat-cooperation">
                <div class="post">
                    <div class="img-post images-hover">
                        <a href="#">
                            <img src="images/about/research.jpg" alt="image">
                            <div class="overlay"></div>
                        </a>
                    </div><!-- /img-post -->

                    <div class="post-about">
                        <div class="post-title">
                            <a href="#">Investigación</a>
                        </div>
                        <div class="post-content">
                            <p>Participamos en proyectos innovadores y generamos nuevas publicaciones
                                científicas.</p>
                        </div>
                        <a class="read-more" href="#">Nuestras publicaciones</a>
                    </div><!-- /post-about -->
                </div><!-- /post -->

                <div class="post">
                    <div class="img-post images-hover">
                        <a href="#">
                            <img src="images/about/teach.jpg" alt="image">
                            <div class="overlay"></div>
                        </a>
                    </div><!-- /img-post -->

                    <div class="post-about">
                        <div class="post-title">
                            <a href="#">Enseñanza</a>
                        </div>
                        <div class="post-content">
                            <p>Somos docentes en distintas instituciones educativas</p>
                        </div>
                        <a class="read-more" href="#">Material relacionado</a>
                    </div><!-- /post-about -->
                </div><!-- /post -->

                <div class="post">
                    <div class="img-post images-hover">
                        <a href="#">
                            <img src="images/about/develop.jpg" alt="image">
                            <div class="overlay"></div>
                        </a>
                    </div><!-- /img-post -->

                    <div class="post-about">
                        <div class="post-title">
                            <a href="#">Desarrollo de software</a>
                        </div>
                        <div class="post-content">
                            <p>Somos profesionales interesados en mejorar la situación de la industria de
                                software</p>
                        </div>
                        <a class="read-more" href="#">Quienes Somos</a>
                    </div><!-- /post-about -->
                </div><!-- /post -->
            </div><!-- /flat-cooperation -->
        </div><!-- /col-md-12 -->
    </div><!-- /row -->
</section>

<section class="flat-row portfolio-style2 parallax background-portfolio">
    <div id="proyectos" class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="title-section style1 color-style">
                        <h3 class="title">PROYECTOS</h3>
                        <div class="icon">
                            <img src="images/icon/line.png" alt="image">
                        </div>
                        <div class="color-white">Enterate de las novedades sobre los proyectos activos
                            suscribiendote a la lista de correo
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="flat-icon">
                    <div class="col-md-3 col-xs-6">
                        <div class="iconbox1 style-3">
                            <div class="box-header">
                                <img src="images/about/iconbox1.png" alt="images">
                            </div>
                            <div class="box-title">
                                Thin Languages
                            </div>
                        </div><!-- /.iconbox -->
                    </div><!-- /.col-md-2 -->

                    <div class="col-md-3 col-xs-6">
                        <div class="iconbox1 style-3">
                            <div class="box-header">
                                <img src="images/proyectos/wollok-blanco.png" alt="logo-wollok">
                            </div>
                            <div class="box-title">
                                Wollok
                            </div>
                        </div><!-- /.iconbox -->
                    </div><!-- /.col-md-2 -->

                    <div class="col-md-3 col-xs-6">
                        <div class="iconbox1 style-3">
                            <div class="box-header">
                                <img src="images/proyectos/arena-blanco.png" alt="images">
                            </div>
                            <div class="box-title">
                                Arena MVC fwk
                            </div>
                        </div><!-- /.iconbox -->
                    </div><!-- /.col-md-2 -->
                    <div class="col-md-3 col-xs-6">
                        <div class="iconbox1 style-3">
                            <div class="box-header">
                                <img src="images/about/iconbox6.png" alt="images">
                            </div>
                            <div class="box-title">
                                Ver +
                            </div>
                        </div><!-- /.iconbox -->
                    </div><!-- /.col-md-2 -->
                </div><!-- /flat-icon -->
            </div><!-- /row -->
        </div>
    </div><!-- /.container -->
</section><!-- /flat-row -->
<section id="contactanos" class="flat-row no-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section style1">
                    <h3 class="title">Contactanos</h3>
                    <div class="icon">
                        <img src="images/icon/line.png" alt="image">
                    </div>
                    <p class="text">Enterate de las novedades revisando nuestras redes sociales. Tambien nos
                        manejamos
                        por medio de una lista de google para publicar eventos y novedades, podes sumarte a la
                        lista
                        haciendo click abajo.
                        La lista de correo que nos manejamos es <strong>uqbar-project@googlegroups.com</strong>
                    </p>

                    <a class="group-join" href="https://groups.google.com/forum/#!forum/uqbar-project/join">Unirse
                        a
                        Uqbar-Project</a>
                </div>
            </div>
            <div class="row">
                <div class="flat-reviews">
                    <div class="flat-causes">
                        <div class="featured-causes" data-item="3" data-nav="false"
                             data-dots="false" data-auto="false">
                            <div class="item">
                                <div class="text">
                                    <p>Aca va el feed de twiter</p>
                                </div>
                                <div class="title-testimonial">
                                    <div class="thumb-title">
                                        <img src="images/member/1.jpg" alt="image">
                                    </div>
                                    <div class="post-title">
                                        <h6 class="title-post"><a href="#">Michael Davidson</a></h6>
                                        <p>Freelance designer</p>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                        esse
                                        cillum dolore.</p>
                                </div>
                                <div class="title-testimonial">
                                    <div class="thumb-title">
                                        <img src="images/member/1.jpg" alt="image">
                                    </div>
                                    <div class="post-title">
                                        <h6 class="title-post"><a href="#">Michael Davidson</a></h6>
                                        <p>Freelance designer</p>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                        esse
                                        cillum dolore.</p>
                                </div>
                                <div class="title-testimonial">
                                    <div class="thumb-title">
                                        <img src="images/member/1.jpg" alt="image">
                                    </div>
                                    <div class="post-title">
                                        <h6 class="title-post"><a href="#">Michael Davidson</a></h6>
                                        <p>Freelance designer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- /flat-row -->
