<header id="header" class="header clearfix">
    <div class="header-wrap clearfix">
        <div id="logo" class="logo">
            <a href="/" rel="home">
                <img src="images/logo-black.png" alt="image" style="border:none 0px" >
            </a>
        </div><!-- /.logo -->

        <div class="nav-wrap">
            <div class="btn-menu">
                <span></span>
            </div><!-- //mobile menu button -->

            <nav id="mainnav" class="mainnav">
                <ul class="menu">
                    <li class="home">
                        <a href="/">Inicio</a>
                    </li>
                    <li>
                        <a href="proyectos.html">Proyectos</a>
                    </li>
                    <li><a href="publicaciones.html">Publicaciones</a>
                    </li>

                    <li><a href="services.html">Docencia</a>
                    </li>
                    <li><a href="blog-fullwidth.html">Contacto</a>
                        <ul class="submenu">
                            <li><a href="blog-fullwidth.html">Equipo</a></li>
                            <li><a href="blog-sidebarright.html">Listas de correo</a></li>
                            <li><a href="blog-sidebarleft.html">Novedades</a></li>
                            <li><a href="blog-listsidebarright.html">Redes Sociales</a></li>
                        </ul><!-- /.submenu -->
                    </li>
                    <li><a href="faq.html">FAQ</a></li>
                </ul><!-- /.menu -->
            </nav><!-- /.mainnav -->
        </div><!-- /.nav-wrap -->
    </div><!-- /.header-wrap -->
</header><!-- /.header -->