.eventos {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem 0;
}
.eventosListado {
  display: flex;
  justify-content:space-between;
  flex-wrap:wrap;
}

@media screen and (max-width: 800px) {
  .eventos {
    padding: 2.4rem 0;
  }
}
