/**
  * Name: Nah
  * Version: 1.0
  * Author: Themesflat
  * Author URI: http://www.themesflat.com
*/

@import url("font-awesome.css");
@import url("monster-icon.css");
@import url("flexslider.css");
@import url("owl.carousel.css");
@import url("shortcodes.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700|PT+Serif:400,400italic,700,700italic|Poppins:300,400,500,600,700');
/**
  * Reset
  * Repeatable Patterns
  * Header
  * Page title
  * Breadcrumbs
  * Blog
  * Widget
  * Footer
  * Pagination
  * GoTop Button
  * Bottom
  * Parallax
  * Boxed
  * Site-off-canvas
  * Switcher
  * Revolution Slider
*/
/* Reset
-------------------------------------------------------------- */
	html {
		overflow-y: scroll;
		-webkit-text-size-adjust: 100%;
		   -ms-text-size-adjust: 100%;
	}

	body {
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-webkit-text-size-adjust: 100%;
		   -ms-text-size-adjust: 100%;
	}

	a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, caption, canvas, center, cite, code,
	dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, form, footer, header, hgroup, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav,object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, tt, table, tbody, textarea, tfoot, thead, time, tr, th, td, u, ul, var, video  { 
		font-family: inherit; 
		font-size: 100%; 
		font-weight: inherit; 
		font-style: inherit; 
		vertical-align: baseline; 
		margin: 0; 
		padding: 0; 
		border: 0; 
		outline: 0;
		background: transparent;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
		display: block;
	}
	                          
	ol, ul {
		list-style: none;
	}

	blockquote, q { 
		-webkit-hyphens: none;
		  -moz-hyphens: none;
		   -ms-hyphens: none;
		       hyphens: none;
		        quotes: none;
	}

	figure {
		margin: 0;
	}

	:focus {
		outline: 0;
	}

	table { 
		border-collapse: collapse; 
		border-spacing: 0;
	}

	img {
		border: 0;
		-ms-interpolation-mode: bicubic;
		vertical-align: middle;
	}

	legend {
		white-space: normal;
	}

	button,
	input,
	select,
	textarea {
		font-size: 100%;
		margin: 0;
		max-width: 100%;
		vertical-align: baseline;
		-webkit-box-sizing: border-box;
		  -moz-box-sizing: border-box;
		       box-sizing: border-box;
	}

	button,
	input {
		line-height: normal;
	}

	input,
	textarea {
		background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0)); /* Removing the inner shadow, rounded corners on iOS inputs */
	}

	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		line-height: 1;
		cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
		-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
		border: none;
	}

	input[type="checkbox"],
	input[type="radio"] {
		padding: 0; /* Addresses excess padding in IE8/9 */
	}

	input[type="search"] {
		-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	}

	input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
		-webkit-appearance: none;
	}

	button::-moz-focus-inner,
	input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
		border: 0;
		padding: 0;
	}

	*,
	*:before,
	*:after {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}

/* Repeatable Patterns
-------------------------------------------------------------- */
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

body {
	font: 15px/27px "Poppins", sans-serif;
	font-weight: 300;
	background-color: #fff;
	color: #7f7f7f;
}

a {		
	color: #303030;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
	color: #FFCC33;
	text-decoration: none;
	outline: 0;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}

ul, ol {
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;		
}

.img-left {
	margin: -10px 50px 0 0 !important;
	float: left;
}

.img-right {
	margin: 0 0 0 50px !important;
	float: right;
}

b, strong {
	font-weight: 900;
}

.entry-page p {
	margin-bottom: 25px;
}

button {
	border: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	font-family: "Poppins", sans-serif;
	font-size: 14px;	
	text-transform: uppercase;	
	font-weight: 500;	
    color: #fff;
  	background-image: none;
  	height: 50px;
  	background-color: #303030;
  	line-height: 50px;
  	padding: 0 28px;
  	cursor: pointer;
  	letter-spacing: 0.5px;
  	white-space: nowrap;
  	border: none;  	
   display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {	
	border: 1px solid #d5d5d5;
	font-family: "Montserrat",sans-serif;
	font-weight: 400;
  	height: 50px;
  	padding: 19px 35px;  	
  	font-size: 14px;
  	line-height: 19px;
  	color: #999;
  	max-width: 100%;
  	margin-bottom: 20px;
  	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
	border: 1px solid #FFCC33;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}

textarea {
	width: 100%;
	height: 180px;
	padding: 20px 38px;
}

input[type="checkbox"] {
	display: inline;
}

textarea:-moz-placeholder,
textarea::-moz-placeholder,
input:-moz-placeholder,
input::-moz-placeholder {	
	font-size: 12px;
  	line-height: 19px;	
	color: #b1b1b1;
	opacity: 1;
}

input:-ms-input-placeholder {
	font-size: 12px;
  	line-height: 19px;
	color: #b1b1b1;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
	font-size: 12px;
  	line-height: 19px;
	color: #b1b1b1;
	opacity: 1;
}

@-webkit-keyframes pop-scale { 0% { -webkit-transform: scale(0.7) } 100% { -webkit-transform: scale(1) } }
@-moz-keyframes pop-scale { 0% { -moz-transform: scale(0.7) } 100% { -moz-transform: scale(1) } }
@keyframes pop-scale { 0% { transform: scale(0.7) } 100% { transform: scale(1) } }

/* bootstrap resetting elements */
.btn {
	background-image: none;
}

textarea, 
input[type="text"],
input[type="submit"],
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input,
.dropdown-menu,
.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus {
	-webkit-appearance: none;
	text-shadow: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	     -o-box-shadow: none;
	        box-shadow: none;
	color: #999;
}

h4 {
    font-family: "Montserrat",sans-serif;
    color: #000;
    font-weight: 500;
}

h4 {
    font-size: 16px;
    line-height: 30px;
}

/* Top 
---------------------------------------------------------------*/
.top {
	background-color: #333333;	
}

/* Infomation top */
.flat-information {
	margin: 0 0;
	padding: 0;	
}

.flat-information > li {
	display: inline-block;
	position: relative;
	margin-right: 15px;
}

.flat-information > li:before {
	position: absolute;
	left: 0;
	top: 10px;
	font-family: FontAwesome;
	content: "\f095";
	color: #FFCC33;
	font-size: 14px;
}

.flat-information > li.email:before {
	content: "\f0e0";
}

.flat-information > li > a {
	display: inline-block;	
	padding: 11px 0 11px 20px;
	color: #c2c2c2;	
	font-size: 12px;	
}

.flat-information > li > a:hover {
	color: #FFCC33;	
}

/* Social-links
-------------------------------------------------------------- */
.social-links {
	padding: 0;
	margin: 0;
	text-align: right;
}

.social-links a {
	display: inline-block;
	padding: 0 7px;
	line-height: 50px;
	font-size: 14px;
	color: #c2c2c2;
}

.social-links a:hover {
	color: #FFCC33;
}

/* Header
-------------------------------------------------------------- */
.wrap-slider {
	position: relative;
}

.wrap-slider .page-title.feature-post {
	padding:  0;
}

.wrap-slider .page-title.feature-post iframe {
	width: 100%;
	height: 950px;
}

.wrap-slider .header {
	border-bottom: 1px solid rgba(245,245,245,0.1);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	padding:  0 157px;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;	
}

.header .header-wrap .logo {		
	float: left;
}

.header .header-wrap .show-search,
.header .header-wrap .cart{
	float: left;
}

.header .header-wrap .show-search a,
.header .header-wrap .cart a {
	color: #fff;
}

.header .header-wrap .show-search:hover a,
.header .header-wrap .cart:hover a {
	color: #FFCC33;
}
.header .header-wrap .cart {
	padding: 0 20px;
}

.header .header-wrap .block {
	padding: 0 25px 0 45px;	
}

.header .header-wrap .show-search:hover,
.header .header-wrap .cart:hover {
	cursor: pointer;	
}

.header .header-wrap .cart a {
	position: relative;
}

.header .header-wrap .cart span.number-cart {
	position: absolute;
	top: -7px;
	left: 8px;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-family: "Poppins",sans-serif;
	font-size: 10px;
	background-color: #FFCC33;
	color: #fff;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
		 -o-border-radius: 50%;
			border-radius: 50%;	
}

/* Header classic */
.wrap-slider .header.header-classic {
	position: relative !important;
	border-bottom: 0;
}

.header.header-classic #mainnav > ul > li > a,
.header.header-classic .header-wrap .show-search a, 
.header.header-classic .header-wrap .cart a {
	color: #333;
}

.header.header-classic #mainnav > ul > li > a:hover,
.header.header-classic .header-wrap .show-search a:hover, 
.header.header-classic .header-wrap .cart a:hover,
.header.header-classic #mainnav > ul > li.home > a {
	color: #f4bc16;
}


/* Header Fix */
.header-sticky .wrap-slider .header {
	position: fixed;
}

.header.downscrolled {	
	top: 0;
	width: 100%;
	z-index: 9999;   
	background-color:rgba( 0,0,0,0.3 );
}

.header.downscrolled #mainnav > ul > li > a,
.header.downscrolled .logo, 
.header.downscrolled .show-search, 
.header.downscrolled .cart {
	line-height: 80px;
}

.header.header-classic.downscrolled {
	position: fixed !important;
	background: rgba(255, 255, 255, 0.97);
}

/* navigation */
.nav-wrap {
	position: relative;
}

#mainnav {
   float: right;
}

#mainnav ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

#mainnav ul li {
   position: relative;
}

#mainnav > ul > li {
   display: inline-block; 
   padding: 0 10px;  
}

#mainnav > ul > li > a {
    position: relative;
    display: block;
    font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
    color: #fff;
    text-decoration: none; 
    font-size: 14px;   
    font-weight: 500;
    padding: 0 10px 0 13px;
    -webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
} 

#mainnav .menu .has-sub:hover:before,
#mainnav > ul > li > a:hover,
#mainnav > ul > li.home > a {
    color: #FFCC33;
}

#mainnav > ul > li > a:hover {
	color: #FFCC33;
}

#mainnav > ul > li > a:hover:after,
#mainnav > ul > li.home > a:after {
	width: 100%;
}

.header .wrap-icon-nav {
    float: right;
    padding-left: 22px;
}

.header #mainnav > ul > li > a {
	line-height: 92px;
} 

.header .logo,
.header .show-search,
.header .cart {
    line-height: 92px;
    -webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

/* Header search */
.header-wrap {
	position: relative;
}

.header .top-search {
	position: absolute;
	right: 50px;
	top: 110%;
	width: 320px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.header .top-search.show {
    visibility: visible;
    opacity: 1;
    z-index: 1;    
    top: 100%;
}

.show-search.active .fa-search:before {
    content: "\f00d";
}

/* submenu */
#mainnav ul.submenu {
   position: absolute;
   left: 0;
   top: 150%;
   width: 300px;
   background-color: #fff;
   z-index: 9999;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   	  filter: alpha(opacity=0);
     opacity: 0;  
     -webkit-box-shadow: inset 0 12px 19px rgba(255,255,255,0.1), 0 1px 7px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 12px 19px rgba(255,255,255,0.1), 0 1px 7px rgba(0,0,0,0.2);
    box-shadow: inset 0 12px 19px rgba(255,255,255,0.1), 0 1px 7px rgba(0,0,0,0.2);
   visibility: hidden;
  	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

/* right sub-menu */
#mainnav ul.right-sub-menu {
    left: auto;
    right: 0;
}

#mainnav ul li:hover > ul.submenu {
	top: 100%;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
       filter: alpha(opacity=100);
      opacity: 1;
   visibility: visible;
}

#mainnav ul li ul li {
   margin-left: 0;
}

#mainnav ul.submenu li ul {
   position: absolute;
   left: 300px;
   top: 0 !important;
}

#mainnav ul.submenu > li {
   border-top: 1px solid #eaeaea;
}

#mainnav ul.submenu > li.sub-parent:after {
	content: "\f105";
   	font-family: "FontAwesome";
   	font-size: 14px;
   	position: absolute;
   	right: 25px;
   	top: 11px;
   	color: #999999;
   -webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

#mainnav ul.submenu li:first-child {
   border-top: none;
}

#mainnav ul.submenu > li > a {
    display: block;
    color: #4b4b4b;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    padding: 0 0 0 20px;
    line-height: 45px;
    -webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

#mainnav ul.submenu > li > a:hover {
	color: #FFCC33;
}

#mainnav ul.submenu > li.sub-parent:hover::after {
	right: 18px;
}

/* Mobile navigation */
#mainnav-mobi {
   	display: block;
   	margin: 0 auto;
   	width: 100%;
   	position: absolute;
   	background-color: #222222;
   	z-index: 1000;
}

#mainnav-mobi ul {
   	display: block;
   	list-style: none;
   	margin: 0;
   	padding: 0;
}

#mainnav-mobi ul li {
   	margin:0;
   	position: relative;
   	text-align: left;
   	border-top: 1px solid #333333;
   	cursor: pointer
}

#mainnav-mobi ul > li > a {
   	text-decoration: none;
   	height: 50px;
   	line-height: 50px;
   	padding: 0 15px;
   	color: #fff;
}

#mainnav-mobi ul.submenu > li > a {
	padding-left: 30px;
}

#mainnav-mobi ul.sub-menu {
   	top: 100%;
   	left: 0;
   	z-index: 2000;
   	position: relative;
   	background-color: #333333;
}

#mainnav-mobi > ul > li > ul > li,
#mainnav-mobi > ul > li > ul > li > ul > li {
   	position: relative;
   	border-top: 1px solid #333333;
}

#mainnav-mobi > ul > li > ul > li > ul > li a {
   	padding-left: 70px !important
}

#mainnav-mobi ul.sub-menu > li > a {
   	display: block;
   	text-decoration: none;
   	padding: 0 60px;
   	border-top-color: rgba(255,255,255,.1);
	-webkit-transition: all 0.2s ease-out;
	   -moz-transition: all 0.2s ease-out;
	     -o-transition: all 0.2s ease-out;
	        transition: all 0.2s ease-out;
}

#mainnav-mobi > ul > li > ul > li:first-child a {
	border-top: none;
}

#mainnav-mobi ul.sub-menu > li > a:hover,
#mainnav-mobi > ul > li > ul > li.active > a {
	color: #fff;
}

.header.is-sticky .btn-menu {
	margin: 20px 40px;
}

/* Button menu mobile */
.btn-menu {
	display: none;
	position: relative;
	background: transparent;
	cursor: pointer;
	margin: 22px 0;
	width: 30px;
	height: 16px;
	float: right;
	margin-right: 0;
	-webkit-transition: all ease .238s;
	-moz-transition: all ease .238s;
	transition: all ease .238s;
}

.btn-menu:before,
.btn-menu:after, 
.btn-menu span {
	background-color: #FFCC33;
    -webkit-transition: all ease .238s;
       -moz-transition: all ease .238s;
            transition: all ease .238s;
}

.btn-menu:before,
.btn-menu:after {
	content: '';
	position: absolute;
	top: 0;
	height: 2px;
	width: 24px;
	left: 0;
	top: 50%;
	-webkit-transform-origin: 50% 50%;
	    -ms-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
}

.btn-menu span {
	position: absolute;
	width: 12px;
	height: 2px;
	left: 0;
	top: 50%;
	overflow: hidden;
	text-indent: 200%;
}

.btn-menu:before {
	-webkit-transform: translate3d(0, -7px, 0);
	        transform: translate3d(0, -7px, 0);
}

.btn-menu:after {
	width: 17px;
	-webkit-transform: translate3d(0, 7px, 0);
            transform: translate3d(0, 7px, 0);
}

.btn-menu.active:after {
	width: 24px;
}

.btn-menu.active span {
	opacity: 0;
}

.btn-menu.active:before {
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
            transform: rotate3d(0, 0, 1, 45deg);
}

.btn-menu.active:after {
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
            transform: rotate3d(0, 0, 1, -45deg);
}

.btn-submenu {
   position: absolute;
   right: 20px;
   top: 0;
   font: 20px/50px 'FontAwesome';
   text-align: center;
   cursor: pointer;
   width: 70px;
   height: 44px;
}

.btn-submenu:before {
   content: "\f107";
   color: #fff;
}

.btn-submenu.active:before {
   content: "\f106"
}

.btn-menu {
   display: none 
}

/* Page Title
-------------------------------------------------------------- */
.page-title {
	text-align: center;
    position: relative;
    padding: 300px 0 215px 0;
}

.page-title .page-title-heading h2 {
	font-family: "Montserrat", sans-serif;
	font-size: 50px;
	font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.breadcrumbs ul li,
.breadcrumbs ul li a {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
}

.breadcrumbs ul li {
    display: inline-block;
    color: #fff;
}

.breadcrumbs ul li.home {
	padding-right: 30px;
}

.breadcrumbs ul li a:hover {
	color: #ffd71a;
}

.breadcrumbs ul li a {
    position: relative;
}

.breadcrumbs ul li a:after {
    position: absolute;
    top: -4px;
    right: -17px;
    font-family: "FontAwesome", sans-serif;
    content: "\f105";
    font-size: 14px;
}

/* Style1 */
.page-title.style-1 {
	padding: 55px 0;
	background: #f8f8f8;
}

.page-title.style-1 .overlay {
	display: none;
}

.page-title.style-1 .page-title-heading h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #4b4b4b;
    text-transform: uppercase;
}

.wrap-page-title1 {	
    display: table;
    overflow: hidden;
    width: 100%;
}

.wrap-page-title1 {

}

.wrap-page-title1 .page-title-heading {
    display: table-cell;
    margin: 0;
    text-align: left;
    vertical-align: middle;
    width: 65%;
}

.wrap-page-title1 .breadcrumbs {
    font-size: 0.928em;
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    width: 35%;
    margin-top: 0;
}

.wrap-page-title1 .breadcrumbs ul li,
.wrap-page-title1 .breadcrumbs ul li a:hover {
	color: #222;
}

.wrap-page-title1 .breadcrumbs ul li a {
	color: #FFCC33;
}

/* Breadcrumbs
-------------------------------------------------------------- */
.breadcrumbs {
	text-align: center;
	padding-top: 15px;
}

.breadcrumbs ul li,
.breadcrumbs ul li a {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    font-weight: 500;
}

.breadcrumbs ul li {
    display: inline-block;
    color: #fff;
}

.breadcrumbs ul li.home {
	padding-right: 30px;
}

.breadcrumbs ul li a:hover {
	color: #ffd71a;
}

.breadcrumbs ul li a {
    position: relative;
}

.breadcrumbs ul li a:after {
    position: absolute;
    top: -4px;
    right: -17px;
    font-family: "FontAwesome", sans-serif;
    content: "\f105";
    font-size: 14px;
}

/* Blog
-------------------------------------------------------------- */
/* Blog-v1 */
.main-content {
	padding: 80px 0;
}

.main-content.blog-single,
.main-content.blog-posts,
.main-content.services.v2 {
	position: relative;
}

.blog .wrap-main-post {
	position: relative;
}

.main-content.blog-single .feature-post,
.main-content.blog-posts .feature-post {
	margin-bottom: 25px;
}

/* Bg sidebar right */
.sidebar-right .sidebar {
	margin-left: 70px;
	position: relative;
}

.sidebar-right .sidebar:before {
	position: absolute;
	top: 0;
	left: -50px;
	content: "";
	width: 1px;
	height: 100%;
	background-color: #dfdfdf;
}

/* Bg sidebar left */
.sidebar-left .sidebar {
	margin-right: 70px;
	position: relative;
}

.sidebar-left .sidebar:before {
	position: absolute;
	top: 0;
	right: -50px;
	content: "";
	width: 1px;
	height: 100%;
	background-color: #dfdfdf;
}


/* Blog v1 */
.main-content.blog {
	position: relative;
}

.main-content.blog-posts.v1 .post-wrap {
	margin: 0 -15px;
}

.main-content.blog-posts.v1 .entry {
	float: left;
	width: 50%;
	padding: 0 15px;
	margin-bottom: 65px;
}

.flex-direction-nav a {
    background-color: #000;
    opacity: 0.35;
    border: none;
    color: #fff;
}

.main-content .post {
	margin-bottom: 60px;
}

article.entry {
	margin-bottom: 30px;
}

.entry .content-post .title-post {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	line-height: 26px;
    color: #303030;
    text-transform: uppercase;
    font-weight: 500;
}


.entry .content-post .title-post.large {
	font-size: 18px;
}

.entry .content-post ul {
	margin-bottom: 15px;
	margin-top: 5px;
}

.entry .content-post ul li {
	display: inline-block;
}

.entry .content-post ul li a {
	font-size: 12px;
	color: #999;
	text-transform: none;
}

.entry .content-post ul li a:hover {
	color: #FFCC33;
}

.entry .content-post a.more {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	line-height: 23px;
    color: #FFCC33;
    font-weight: 500;
    display: block;
    text-transform: uppercase;
    padding-top: 10px;
}

.entry .content-post a.more i.fa.fa-long-arrow-right {
	padding-left: 15px;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}

.entry .content-post a.more:hover {
	color: #303030;
}

.entry .content-post a.more:hover i.fa.fa-long-arrow-right {
    padding-left: 20px;
}

.feature-post .flexslider .flex-direction-nav a.flex-prev {
	margin-left: 10px;
}

.feature-post .flexslider .flex-direction-nav a.flex-next {
	margin-right: 10px;
}

.feature-post .flexslider .flex-direction-nav a {
    background-color: #000;
    opacity: 0.35;
    width: 36px;
    height: 36px;
    border-color: transparent;
    border-width: 0; 
    -webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}

.feature-post .flexslider .flex-direction-nav a:hover {
	opacity: 1;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}

.feature-post .flexslider .flex-direction-nav i {
	color: #fff;
	font-size: 16px;
	line-height: 36px;
}

blockquote {	
	position: relative;
	border: 15px solid #f5f5f5;
	background-color: #fff;
	padding: 45px;
}

blockquote .wrap-text {
	color: #707070;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-style: italic;
	line-height: 27px; 
}

blockquote.alignleft:after {
	font-family: "PT Serif",sans-serif;
	font-size: 120px;
	line-height: 30px;
	content: "”";
	color: #f0f0f0;
    position: absolute;
    bottom: 30px;
    right: 40px;
}

blockquote .whisper {
	font-family: "Montserrat",sans-serif;
	font-size: 14px;
	line-height: 30px;
	color: #333;
	font-style: normal;
	text-transform: uppercase;
	margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
}

.main-content.blog-posts.v1 .wrap-main-post .post-wrap .post {
    float: left;
    width: 50%;
    padding: 0 15px;
    margin-bottom: 65px;
}

.entry .feature-post iframe {
	width: 355px;
	height: 250px; 
}

/* Blog v2 */
.main-content.blog-posts.v2 .entry {
	float: left;
	width: 33.3%;
	padding: 0 15px;
	margin-bottom: 65px;
}

.main-content.blog-posts.v2::before {
	background-color: transparent;
}

/* Blog v3 */
.main-content.blog-posts.v3 .post-wrap {
	margin: 0 -15px;
}

.main-content.blog-posts.v3 .entry {
	float: left;
	width: 50%;
	padding: 0 15px;
	margin-bottom: 65px;
}

/* Blog v4 */
.main-content.blog-posts.v4 .entry .feature-post {
	float: left;
	padding-right: 30px;
}

.main-content.blog-posts.v4 .entry .content-post {
	overflow: hidden;
}

.main-content.blog-posts.v4 .blog-pagination {
	text-align: left;
}

/* Blog v5 */
.main-content.blog-posts.v5 .entry .feature-post {
	float: left;
	padding-right: 30px;
}

.main-content.blog-posts.v5 .entry .content-post {
	overflow: hidden;
}

.main-content.blog-posts.v5 .blog-pagination {
	text-align: left;
}

/* Blog v6 */
.main-content.blog-posts.v6 .entry {
	width: 100%;
	margin-bottom: 65px;
}

.main-content.blog-posts.v6 .blog-pagination {
    text-align: left;
    padding-top: 5px;
}

/* Blog v7 */
.main-content.blog-posts.v7 .entry {
	width: 100%;
	margin-bottom: 65px;
}

.main-content.blog-posts.v7 .blog-pagination {
    text-align: left;
    padding-top: 5px;
}

/* Blog single v1 */
.main-content.blog-single .post-wrap-single-v1 .title-post a {
	font-family: "Montserrat", sans-serif;
	font-size: 25px;
	line-height: 26px;
}

.main-content.blog-single .post-wrap-single-v1 .entry-post {
	padding-bottom: 15px;
}

.main-content.blog-single .post-wrap-single-v1 .entry-post p {
	padding-bottom: 25px;
}

.main-content.blog-single .post-wrap-single-v1 .img-post {
	margin: 0 -18px 40px;
}

.main-content.blog-single .post-wrap-single-v1 .img-post img {
	padding: 0 15px;
}

.main-content.blog-single .post-wrap-single-v1 .entry-post.style-v1 {
	border-bottom: 1px solid #dfdfdf;
}

.main-content.blog-single .post-wrap-single-v1 .entry-post.style-v1 p.v1 {
	padding-bottom: 40px;
}

/* Blog single tags */
.blog-single .entry .wrap-share {
	padding-top: 60px;
	margin-bottom: 50px;
}

.blog-single .entry .wrap-share .category-post li {
    display: inline-block;
    float: left;
    padding-right: 3px;
}

.blog-single .entry .wrap-share li.style {
	font-family: "Montserrat" sans-serif;
	font-size: 14px;
	line-height: 27px;
	font-weight: 700;
	color: #303030;
	text-transform: uppercase;
	padding-right: 15px;
}

.blog-single .entry .wrap-share .category-post li a {
	color: #999;
}

.blog-single .entry .wrap-share .category-post li a:hover {
	color: #FFCC33;
}

/* Share */
.wrap-share .share-post {
	text-align: right;
}

.wrap-share .share-post ul li {
	display: inline-block;
	padding-right: 20px;
}

.wrap-share .share-post ul li:last-child {
	padding-right: 0;
}

.wrap-share .share-post ul li a{
	font-family: "FontAwesome";
	color: #303030;
	font-size: 18px;
}

.wrap-share .share-post ul li a:hover {
	color: #FFCC33;
}

/* author */
.blog-single .entry .author-post {
	border-bottom: 1px solid #dfdfdf;
	padding-bottom: 60px;
	margin-bottom: 50px;
}

.blog-single .entry .author-post .author {
	background-color: #f1f1f1;
	overflow: hidden;
}

.blog-single .entry .author-post .author .author-avata {
	float: left;
	margin-right: 50px;
}

.blog-single .entry .author .author-detail {
	padding: 45px 40px 0 0;
}

.blog-single .entry .author .author-detail .author-meta h4 {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: #303030;
	text-transform: uppercase;
	margin-bottom: 10px;
}

/* Related posts */
.post-wrap-single-v1 .related-posts {
	overflow: hidden;
	padding-bottom: 30px;
	margin-bottom: 50px;
	border-bottom: 1px solid #dfdfdf;
}

.post-wrap-single-v1 .comment-post h4.title,
.post-wrap-single-v1 .related-posts h4.title {
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	line-height: 23px;
	color: #333;
	font-weight: 500;
	margin-bottom: 35px;
	text-transform: uppercase;
}

.blog-single .entry.style-v1 {
	float: left;
	width: 50%;
	padding: 0 15px;
}

.post-wrap-single-v1 .related-posts .related-detail {
	margin: 0 -15px;
}

.post-wrap-single-v1 .entry.style-v1 .title-post a {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
}

/* Comment */
.blog-single .comment-post ul li {
	overflow: hidden;
}

.blog-single .comment-post .comment {
    padding-bottom: 30px;
}

.blog-single .comment-post .comment-avatar {
    float: left;
}

.blog-single .comment-post .comment-avatar > img {
    margin-right: 30px;
    margin-bottom: 90px;
}

.blog-single .comment-post .comment-detail {
	padding: 30px 50px 35px 27px;
    overflow: hidden;
    background-color: #f1f1f1;
}

.blog-single .comment-post .comment-detail p.comment-body {
	font-size: 14px;
}

.blog-single .comment-post .comment {
	position: relative;
}

.blog-single .comment-post .comment:before {
	position: absolute;
	content: "";
	top: 21px;
	left: 100px;
	width: 0px;
	height: 0px;
	border-bottom: 10px solid transparent;
	border-top: 10px solid transparent;
	border-right: 10px solid #f1f1f1;
}

.blog-single .comment-post .comment-detail .comment-meta {
	margin-bottom: 15px;
}

.blog-single .comment-post .comment-detail .comment-author {
	font-family: "Montserrat",sans-serif;
	font-size: 14px;
	line-height: 23px;
	color: #333;
	text-transform: uppercase;
}

.blog-single .comment-post .comment-detail .comment-author a {
	color: #333;
	font-weight: 500;
}

.blog-single .comment-post .comment-detail .comment-author a:hover {
	color: #FFCC33;
}

.blog-single .comment-post .comment-detail .comment-date a {
	font-size: 12px;
	line-height: 23px;
	color: #999;
	margin-left: 10px;
}

.blog-single .comment-post .comment-detail .comment-date a:hover {
	color: #FFCC33;
}

.blog-single .comment-post .comment-list-wrap {
	padding-bottom: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid #dfdfdf;
}

/* Comment sidebar-left-v2 */
.blog-single .comment-post .comment-avatar > img {
	margin-bottom: 120px;
}

.blog-single.style .comment-post {
	padding: 80px 65px 80px 68px;
	background-color: #f5f5f5;
}

.blog-single.style .comment-post .comment-detail {
	padding: 0;
    overflow: visible;
    background-color: transparent;
}

.blog-single.style .blog-single .comment-post .comment:before {
	content: none;
}

.blog-single.style .post-wrap-single-v1 .comment-post h4.title.comment-title {
	margin-bottom: 0;
}

.blog-single.style .comment-post .comment-detail .comment-body {
	padding-bottom: 30px;
}

.blog-single.style .comment-post .comment {
	padding: 40px 0;
	border-bottom: 1px solid #d5d5d5;
}

.blog-single.style .comment-post .comment-list-wrap {
	border-bottom: none;
}

/* Comment form contact */
.contact .comment-form .name-container,
.flat-contact-form .input-wrap.name {
	width: 32%;
	float: left;
	margin-right: 2%;	
}

.flat-contact-form .wrap-type-input {
	overflow: hidden;
}

.flat-contact-form .input-wrap,
.flat-contact-form .textarea-wrap {
	position: relative;
}

.flat-contact-form .input-wrap::before,
.flat-contact-form .textarea-wrap::before {
    content: "\f007";
    font-family: "FontAwesome";
    font-size: 14px;
    line-height: 23px;
    position: absolute;
    top: 13px;
    left: 15px;
    color: #bcbcbc;
}

.flat-contact-form .input-wrap.email::before {
	content: "\f0e0";
}

.flat-contact-form .input-wrap.Subject::before  {
	content: "\f084";
}

.flat-contact-form .textarea-wrap::before {
	content: "\f075";
}

.contact .comment-form .email-container,
.flat-contact-form .input-wrap.email {
	float: left;
	width: 32%;
}

.contact .comment-form .subject-container,
.flat-contact-form .input-wrap.Subject {
	float: right;
	width: 32%;
}

.flat-contact-form .flat-button {
	background-color: #e0b539;
    font-family: "montserrat", sans-serif;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
    padding: 17px 23px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

/* comment-reply */
.blog-single .comment-post .comment-detail .comment-reply {
	padding: 11px 19px 9px;
	font-size: 12px;
	background-color: #333;
	color: #fff;
	border-radius: 2px;
}

.blog-single .comment-post .comment-detail .comment-reply:hover {
	background-color: #FFCC33;
	color: #333
}

/* widget
-------------------------------------------------------------- */
.sidebar .widget {
	margin-bottom: 55px;
}

.sidebar .widget ul li {
	padding: 15px 0;
}

.widget.widget-search #searchform {
    width: 100%;
    height: 60px;
    position: relative;
    margin: 0;
}

.widget.widget-search #searchform #searchsubmit {
    padding: 3px;
    position: absolute;
    right: 17px;
    top: 0;
    font-family: "FontAwesome";
    color: #333;
    background: transparent;
    border: none;
    text-align: center;
    font-size: 14px;
    line-height: 50px;
    font-weight: 700;
    -webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}

.widget.widget-search #searchform #searchsubmit:hover {
	color: #ffd71a;
}

.widget.widget-search #searchform #s {      
    width: 100%;
    padding: 0 10px 0 20px;
}

.widget .widget-title {
	position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #333;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 35px;
    text-transform: uppercase;
}

/* Widget-categories */
.sidebar .widget.widget-categories ul li {
    padding: 0;
    border-bottom: 1px solid #ededed;
}

.sidebar .widget.widget-categories ul li:last-child {
	border-bottom: none;
}

.widget-categories ul li a {
	position: relative;
	padding-left: 15px; 
}

.widget-categories ul li a:before {
	position: absolute;
	top: -15px;
	left: 0;
	font-family: "FontAwesome";
	content: "\f105";	
	color: #7f7f7f;
	font-size: 15px;
}

.widget-categories ul li a,
.widget-categories ul li span {
	font-family:"Poppins", sans-serif;
	font-size: 14px;
	line-height: 51px;
	color: #333;
	font-weight: 500;
}

.widget-categories ul li span {
	color: #999;
}

.widget-categories ul li a:hover {
	color: #FFCC33;
}

/* widget-recent-posts */
.sidebar .widget .recent-posts li {
	position: relative;	
	display: block;
}

.widget .recent-posts li .thumb {
	float: left;
	margin-right: 20px;
}

.widget .recent-posts li .text {
	overflow: hidden;	
	color: #666;
}

.widget .recent-posts li .text a {
	font-family:"Montserrat", sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	padding-right: 25px;
	font-weight: 500;
}

.widget .recent-posts li .text a:hover {
	color: #FFCC33;
}

.widget .recent-posts li .text p {
	font-family:"Open Sans", sans-serif;
	font-size: 14px;
	line-height: 36px;
	color: #999;
}

/* widget-tags  */
.sidebar .widget.widget-tags ul {
	overflow: hidden;
}

.sidebar .widget.widget-tags ul li {
	display: block;
	float: left;
}

/* Widget-archives */
.sidebar .widget.widget-archives ul li {
    padding: 0;
}

.widget-archives ul li a {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 36px;
    color: #222;
    text-transform: uppercase;
    font-weight: 700;
    padding-right: 10px;
}

.widget-archives ul li a:hover {
	color: #FFCC33;
}

.widget-archives ul li span {
    line-height: 36px;
}

/* widget-instagram */
.widget.widget-instagram .instagram-thumb {
    margin: 0 -15px 0 0;
}

.widget.widget-instagram .instagram-thumb .thumb {
    float: left;
    width: 25%;
    margin-bottom: 6px;
}

.widget.widget-instagram .instagram-thumb .thumb:hover img {
	opacity: 0.8;
	-webkit-backface-visibility: hidden;
             -webkit-transition: all .2s;
                -moz-transition: all .2s;
                  -o-transition: all .2s;
                     transition: all .2s;
}

/* widget-dowload */
.widget.widget-dowload h4.widget-title {
    padding-bottom: 40px;
}

.widget.widget-dowload ul li {
	font-size: 14px;
	font-family: "montserrat", sans-serif;
	position: relative;
	background-color: #333333;
	border-bottom: 2px solid #fff;
	padding: 13px 0 14px 50px;
	border-radius: 3px;
	-webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}

.widget.widget-dowload ul li:hover {
	background-color: #edb820;
	padding: 13px 0 14px 55px;
}

.widget.widget-dowload ul li:before {
	position: absolute;
	left: 20px;
	top: 10px;
	font-family: FontAwesome;
	content: "\f1c2";
	color: #fff;
	font-size: 15px;
}

.widget.widget-dowload ul li.dl-pdf:before {
	content: "\f1c1";
}

.widget.widget-dowload ul li.dl-powerpoint:before {
	content: "\f1c4";
}

.widget.widget-dowload.services-single ul li:after {
	position: absolute;
	right: 20px;
	top: 15px;
	font-family: FontAwesome;
	content: "\f019";
	color: #fff;
	font-size: 14px;
}

.widget.widget-dowload ul li a {
	color: #fff;
}

.widget.widget-dowload ul li a:hover {
	color: #333333;
}

.widget.widget-dowload {
    margin-bottom: 70px;
}

/* widget infomation */
.widget-text .unstyled {
	margin-left: 30px;
}

.sidebar .widget-text .unstyled li {
	padding: 0 0;
}

.widget-text .unstyled li.address {
	position: relative;
	margin-bottom: 10px;
}

.widget-text .unstyled li.address::before {
	position: absolute;
	content: "\f041";
	font-family: "FontAwesome";
	top: 0;
	left: -30px;
	width: 10px;
	height: 10px;
	font-size: 16px;
}

.widget-text .unstyled li.mail {
	position: relative;
	margin-bottom: 10px;
}

.widget-text .unstyled li.mail::before {
	position: absolute;
	content: "\f0e0";
	font-family: "FontAwesome";
	top: 0;
	left: -30px;
	width: 10px;
	height: 10px;
	font-size: 14px;
}

.widget-text .unstyled li.phone {
	position: relative;
}

.widget-text .unstyled li.phone::before {
	position: absolute;
	content: "\f095";
	font-family: "FontAwesome";
	top: 0;
	left: -30px;
	width: 10px;
	height: 10px;
	font-size: 14px;
}

/* widget-text */
.widget-text p {
	margin-bottom: 20px;
}

.widget-text .more.style1 a {
    font-size: 14px;
    line-height: 36px;
    font-weight: 700;
    color: #222;
}

.widget-text .more.style1 a:hover {
	color: #FFCC33;
}

/* Comment form */
.comment-form input {
	width: 100%;
}

.comment-form .name-container {
	width: 48.27%;
	float: left;
	margin-right: 3.44%;	
}

.comment-form .message {
	width: 100%;
}

.comment-form .message textarea {
	background-color: #fff;	
}

.comment-form .style {
	 position: relative; 
}

.comment-form .style:before {
	position: absolute;
	top: 13px;
	left: 15px;
	font-family: "FontAwesome";
	content: "\f007";
	font-size: 14px;
	line-height: 23px;
	color: #999;
}

.comment-form .email-container::before {
	content: "\f0e0";
}

.comment-form .message::before {
	top: 17px;
	content: "\f075";
}

/* Footer
-------------------------------------------------------------- */
.footer {
	background-color: #303030;
	text-align: center;
	padding-top: 85px;
	padding-bottom: 70px;
}

.footer.color-style {
	background-color: #151515;
}

.footer .widget {
	text-align: left;
}

.footer .widget .widget-title {
	color: #fff;
	margin-bottom: 30px;
	font-size: 20px;
	font-weight: 500;
}

.footer .widget ul li a {
	color: #7f7f7f;
}

.footer .widget ul li a:hover {
	color: #FFCC33;
}

.footer .widget-text .textwidget p {
	color: #8d8e92;
}

.footer .widget-text ul li {
	color: #8d8e92;
}

/* footer widgets-text */
.footer .widget {
	overflow: hidden;
}

.footer .widget-text .flat-socials {
	margin-top: 30px;
}

.footer .widget-text ul li {
	display: inline-block;
	float: left;
	padding-right: 25px;
	font-size: 18px;
	color: #7f7f7f;
}

/* widgets-text */
.widget-text .unstyled {
	margin-left: 30px;
}

.widget-text .unstyled li.address {
	position: relative;
	margin-bottom: 10px;
}

.widget-text .unstyled li.address::before {
	position: absolute;
	content: "\f041";
	font-family: "FontAwesome";
	top: 0;
	left: -30px;
	width: 10px;
	height: 10px;
	font-size: 16px;
}

.widget-text .unstyled li.mail {
	position: relative;
	margin-bottom: 10px;
}

.widget-text .unstyled li.mail::before {
	position: absolute;
	content: "\f0e0";
	font-family: "FontAwesome";
	top: 0;
	left: -30px;
	width: 10px;
	height: 10px;
	font-size: 14px;
}

.widget-text .unstyled li.phone {
	position: relative;
}

.widget-text .unstyled li.phone::before {
	position: absolute;
	content: "\f095";
	font-family: "FontAwesome";
	top: 0;
	left: -30px;
	width: 10px;
	height: 10px;
	font-size: 14px;
}

/* Footer widget categories */
.footer-widgets .widget-categories ul {
	float: left;
}

.footer-widgets .widget-categories ul.style1 {
	padding-right: 100px;
}

.footer-widgets .widget-categories ul li {
	padding: 3px 0 3px 0;
}

.footer-widgets .widget-categories ul li a {
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	font-weight: 300;
    color: #7f7f7f;
    line-height: 31px;
}

.footer-widgets .widget-categories ul li a:before {
    position: absolute;
    top: -4px;
}

.footer-widgets .widget-categories ul li a:hover {
	color: #FFCC33;
}

/* Footer widget tiwtter */
.footer-widgets .widget.widget-tiwtter ul li {
	margin-bottom: 25px;
	padding-left: 60px;
}

.footer-widgets .widget.widget-tiwtter ul > li .title-v1 a {
	font-family: "Montserrat", sans-serif;	
	font-size: 15px;
    color: #fff;
    line-height: 21px;
}

.footer-widgets .widget.widget-tiwtter ul > li .title-v1 a:hover {
	color: #FFCC33;
}

.footer .widget h4.title-v1 {
	position: relative;
    margin-bottom: 10px;
}

.footer .widget h4.title-v1:before {
	position: absolute;
	top: 0;
	left: -60px;
	font-family: "FontAwesome";
	content: "\f03e";
	color: #fff;
	background-color: #454545;
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	-webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.footer .widget h4.title-v1:hover:before {
	background-color: #FFCC33;
	-webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.footer .widget h4.title-v1.style1:before {
	content: "\f04b";
}

.footer-widgets .widget.widget-tweets .widget-title {
	margin-bottom: 30px;
}

/* widget instagram */
.widget.widget-instagram ul {
	margin: 0 -5px;
}

.widget.widget-instagram ul li {
	width: 25%;
	float: left;
	padding: 0 5px;
	margin-bottom: 10px;
}

.images-hover {
    position: relative;
}

.images-hover:hover {
    cursor: pointer;
}

.images-hover:before,
.images-hover:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 30px;
    background: #ffffff;
    top: 50%;
    left: 50%;
    z-index: 30;
    margin-top: -15px;
    margin-left: -1px;
    visibility: hidden;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0); 
     -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;   
}

.images-hover:after {
    height: 1px;
    width: 30px;
    margin-top: -1px;
    margin-left: -15px;
}

.images-hover:hover:after,
.images-hover:hover:before {
    z-index: 30px;
    visibility: visible;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
}

.images-hover .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    height: 100%;
    content: "";
    z-index: 10;
    background-color: rgba(0, 0, 0, .4);
     -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.images-hover:hover .overlay {
    opacity: 1;
    visibility: visible;
}

/* widget-posts */
.widget-posts ul li {
	margin-bottom: 25px;
}

.widget-posts .thumb {
	float: left;
	width: 70px;
	margin-right: 20px;
}

.widget-posts ul li h6 {	
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 5px;
}

.widget.widget-posts ul li a {
	color: #fff;
}

.widget.widget-posts ul li a:hover {
	color: #f96868;
}

/* widget-subscribe */
.widget-subscribe #subscribe-form {
	position: relative;
}

.widget-subscribe .input-wrap.email{
	margin-bottom: 23px;	
}

.widget-subscribe #subscribe-email {
	padding-left: 30px;
	width: 100%;	
	background: transparent;
	border: 1px solid #5f5f5f;
	color: #fff;
	box-shadow: 0 -1px 0 rgba(95, 95, 95, 1) inset;
}

.widget-subscribe .subscribe-button {
	position: absolute;
	right: 25px;
	top: 15px;
	background: transparent;
	color: #f96868;
}

/* Pagination
-------------------------------------------------------------- */
.blog-pagination {
	text-align: center;
	padding-top: 30px;
}

.blog-pagination .flat-pagination li {
	display: inline-block;
	margin-left: 1px;
}

.blog-pagination .flat-pagination li a {
	display: inline-block;
	line-height: 23px;
	font-size: 14px;
	padding: 10px 19px ;
	font-family: "Montserrat", sans-serif;	
	color: #333;	
	font-weight: 500;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}

.blog-pagination .flat-pagination li a:hover ,
.blog-pagination .flat-pagination li.active a{
	color: #fff;
	background-color: #FFCC33;
	border-color: #FFCC33;
}

.blog-pagination .flat-pagination li:hover {
	border-color: #FFCC33;
}

.blog-pagination .flat-pagination li.next a:hover {
	color: #fff;
}

.blog-pagination .flat-pagination li.next i {
	font-weight: 700;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
} 


.blog-pagination .flat-pagination li {
	border: 1px solid #dfdfdf;
}

.blog-pagination .flat-pagination li.next a {
	text-align: right;
}

.blog-pagination .flat-pagination li.active {
	color: #dfdfdf;
	font-size: 14px;
	line-height: 23px;
	font-family: "Montserrat", sans-serif;
}

/* GoTop Button
-------------------------------------------------------------- */
.go-top {
   	position: fixed !important;
    right: 40px;
    bottom: 40px;
    display: block;
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
    visibility: hidden;
    filter: alpha(opacity=0);
    opacity: 0;
    z-index: 9999;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    background-color: #FFCC33;
    border-radius: 3px;    
}

.go-top.show {
	right: 45px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	visibility: visible;
	z-index: 99999;
}

.go-top i {
	font-size: 20px;
	color: #fff;
	padding-bottom: 3px;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;	
}

.go-top:hover {
    background-color: #222;
    -webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

.go-top:hover i {
	color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

/* Bottom
-------------------------------------------------------------- */
.bottom {
	background: #303030;
	color: #7f7f7f;
	text-align: center;
}

.bottom.color-style {
	background-color: #151515;
}

.bottom .container-bottom {
	position: relative;
	overflow: hidden;
	border-top: 1px solid #454545;
}

.bottom .container-bottom span a {
	color: #FFCC33;
}

.container-bottom .copyright {
	padding: 35px 0;
}

.bottom .flat-socials-v1 li a,
.container-bottom .copyright p {
	color: #9c9c9c;
}

/* Parallax
-------------------------------------------------------------- */
.parallax {
	width: 100%;
	background-attachment: fixed;
	background-position: 50% 0;
	background-size: cover;
}

.parallax1 { background-image: url(../images/parallax/bg-parallax1.jpg); }

.parallax3 { background-image: url(../images/parallax/bg-parallax3.jpg); }

.parallax4 { background-image: url(../images/parallax/bg-parallax4.jpg); }

.parallax5 { background-image: url(../images/parallax/bg-parallax5.jpg); }

.parallax6 { background-image: url(../images/parallax/bg-parallax2.jpg); }

.background-portfolio {  background-image: url(../images/parallax/bg-portfolio.jpg); }

.row-flat-counter { background-image: url(../images/parallax/about.jpg); }

.parallax2 { background-image: url(../images/parallax/bgteam.jpg); }

.parallax-callout { background-image: url(../images/parallax/parallax-pagecallout.jpg); }

.bg-section-about { background-image: url(../images/parallax/bg-section-about.jpg); }

.flat-row .bg-overlay {
	position: absolute;
	left: 0;
	top: 0;
	background-color: #FFCC33;
	width: 100%;
	height: 100%;	
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
       opacity: 0.9;
        filter: alpha(opacity=90); 
}

.page-title .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
    opacity: 0.35;
    filter: alpha(opacity=35);
}


/* Boxed
-------------------------------------------------------------- */
.home-boxed .boxed {	
	margin: 20px auto;
	position: relative;	
	height: 100%;
	overflow: hidden;
	background-color: #fff;
}

/* site-off-canvas
-------------------------------------------------------------- */
#site-off-canvas .close {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	-webkit-opacity: 0;
	 -khtml-opacity: 0;
	   -moz-opacity: 0;
	   opacity: 0;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	    filter: alpha(opacity=0);
	display: none\9;
	visibility: hidden;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99999;
	-webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	        transform: translateX(0);
}

.off-canvas-active #site-off-canvas .close {
	-webkit-opacity: 1;
	 -khtml-opacity: 1;
	   -moz-opacity: 1;
	        opacity: 1;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	filter: alpha(opacity=100);
	display: block\9;
	visibility: visible;
	-webkit-transform: translateX(-270px);
	    -ms-transform: translateX(-270px);
	        transform: translateX(-250px);
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

.off-canvas-active #site-off-canvas .wrapper {
	background-color: #f5f5f5;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}

#site-off-canvas .wrapper {
	position: fixed;
	right: 0;
	bottom: 0;
	top: 0;
	width: 270px;
	background: #ffffff;
	z-index: 999999;
	overflow: auto;
	padding: 30px;
	-webkit-transform: translateX(270px);
	-ms-transform: translateX(270px);
	transform: translateX(270px);
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

/* Switcher
-------------------------------------------------------------- */
.switcher-container {
   position: fixed;
   right: -250px;
   top: 120px;
   width: 250px;
   background-color: #000000;
   z-index: 99999999;
}

.switcher-container h2 {
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	font-family: "Montserrat", sans-serif;
	letter-spacing: 1.5px;
    text-transform: uppercase;
	height: 50px;
	line-height: 50px;
	padding-left: 50px;
	padding-right: 50px;
	margin: 0;
	font-weight: 400;
}

.switcher-container h2 a {
   background-color: #FFCC33;
   display: block;
   position: absolute;
   left: -50px;
   top: 0;
   width: 50px;
   height: 50px;
   line-height: 50px;
   text-align: center;
   outline: 0;
   color: #fff;
}

.switcher-container h2 a:hover,
.switcher-container h2 a:focus {
   text-decoration: none;
}

.switcher-container h2 i {
   margin-top: 12px;
   font-size: 25px;
   -webkit-animation: fa-spin 2s infinite linear;
          animation: fa-spin 2s infinite linear; 
}

.switcher-container h3 {
   font-size: 14px;
   font-weight: 700;
   color: #fff;
   margin: 0;
   line-height: 22px;
   margin-bottom: 10px;
   font-size: 16px;
   line-height: 30px;   
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
}

.switcher-container .selector-box {   
   color: #fff;
   overflow: hidden;
}

.switcher-container .layout-switcher {
   margin: 0 0 10px 0;
   overflow: hidden;
}

.switcher-container .layout-switcher a.layout {
   float: left;
   display: block;
   cursor: pointer;
   text-align: center;
   font-weight: 700;
   padding: 10px 20px;
   margin-left: 10px;
}

.switcher-container .layout-switcher a.layout:first-child {
   margin-left: 0;
}

.switcher-container .layout-switcher a.layout:hover {
   color: #fff;
   cursor: pointer;
}

.switcher-container .color-box {
   height: auto;
   overflow: hidden;
   margin-bottom: 6px;
}

.switcher-container .styleswitch {
    margin-bottom: 10px;
}

.sw-odd {
	background-color: #323232;
	padding: 21px 0 30px 35px;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		 -o-transition: all 0.3s;
			transition: all 0.3s;
}

.sw-even {
	background-color: #202020;
	padding: 21px 0 25px 35px;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		 -o-transition: all 0.3s;
			transition: all 0.3s;
}

.sw-even a {	
	font-family: "Lato", sans-serif;
    text-transform: uppercase;
	font-size: 12px;
	line-height: 40px;
	color: #fff;
	border: 1px solid #fff;
	padding: 10px 26px 10px 27px;
	margin-right: 10px;
	letter-spacing: 1.8px;
}

.sw-even a:hover {
	background-color: #feb800;
	border: 1px solid #feb800;
	color: #fff !important;
}

.sw-light {
	background-color: #fff;
	color: #000 !important;
}

.sw-odd a {	
	font-size: 16px;
	color: #fff;
	width: 100%;
	display: inline-block;
	line-height: 30px;
	width: 100%;
	position: relative;
	padding-left: 47px;
}

.sw-odd .ws-colors a:before {
	background: none;
}

.sw-odd .ws-colors a {
	position: relative;
	width: auto;
	padding: 0;	
	width: 30px;
	height: 30px;
	background-color: #FFCC33;	
	display: inline-block;
	margin-right: 10px;	
}

.sw-odd .ws-colors a.current:before {
	position: absolute;
    left: 7px;
    top: 0;
	font-family: FontAwesome;
	content: "\f00c";
	color: #fff;
	text-shadow: 0 0 2px rgba( 0, 0, 0, 1 );
}

.sw-odd #color2 {
	background-color: #d22222;
}

.sw-odd #color3 {
	background-color: #74b3b2;
}

.sw-odd #color4 {
	background-color: #5bac72;
}

.sw-odd #color5 {
	background-color: #2bb0ef;
}

.sw-odd #color6 {
	background-color: #ff8400;
}

.sw-even h3 {
	margin-bottom: 6px;
}

/* Pattern */
.sw-pattern.pattern {	
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
	position: absolute;
	left: 0;
	top: 98%;
	background-color: #000000;
	width: 100%;
	z-index: -1;
	padding: 21px 0 30px 35px;
	opacity: 0;
}

.sw-pattern.pattern a {	
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
}

.sw-pattern.pattern a.current:before {
	position: absolute;
    left: 12px;
    top: 6px;
	font-family: FontAwesome;
	content: "\f00c";
	color: #fff;
	text-shadow: 0 0 2px rgba( 0, 0, 0, 1 );
}

/* Revolution Slider
-------------------------------------------------------------- */
.tp-banner-container {
	max-height: 1000px !important;
	width: 100% !important;
	position: relative;
	overflow: hidden !important;
	padding: 0;
	background-color: #fff;
}

.tp-banner-container {
	position: relative;
}

.tp-banner-container .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #303030;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.flat-single .content {
    margin-bottom: 40px;
}

.flat-single .icon {
    margin-bottom: 20px;
}