---
layout: post
---

<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html" xml:lang="en-US" lang="en-US">
<!--<![endif]-->
{% include header.html %}

<body class="header-sticky">
<div class="boxed">

    <!-- Wrap-slide -->
    <div class="wrap-slider header-style1">
        <!-- Header -->
        {% include top_bar.html %}

        <div class="page-title parallax parallax5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-title-heading">
                            <div class="post-heading">
                                <h1>{{ page.title }}</h1>
                                {% if page.subtitle %}
                                <h2 class="subheading">{{ page.subtitle }}</h2>
                                {% endif %}
                                <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                            </div>
                        </div>
                        <div class="breadcrumbs">
                            <ul>
                                <li class="home"><a href="home.html">Home</a></li>
                            </ul>
                        </div>
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /page-title -->
    </div> <!-- /.wrap-slider -->

    {{ content }}
    <!-- Footer -->
    {% include footer.html %}

    <!-- Go Top -->
    {% include go_top.html %}

    {% include scripts.html %}
</div>
</body>
</html>





