.app{
  width:100%;
  font-size:1.6rem;
  line-height:2.4rem;
}
a{
  color:#0082FF;
  text-decoration:none;
  transition: all 0.3s ease-in-out;
}
a:hover{
 color:#6B6A81
}
h1, h2, h3, h4{
  font-family: 'Prompt', sans-serif;
}
.color-muted{
  color:#6B6A81;
}

strong{
  font-weight:600;
}

img{
  max-width:100%;
}
