.proyectos {
  padding: 8rem 0;
}
.container {
  max-width: 111.2rem;
  margin: 0 auto;
}
.proyectosListado {
  display: flex;
  justify-content:space-between;
  flex-wrap:wrap;
}
.proyectoIndividual {
  background: #f7f7fa;
  border: 1px solid #e3e2ef;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px #e3e2ef;
  border-radius: 8px;
  padding: 0.8rem;
  flex-grow:1;
  flex-basis:0;
  margin:1%;
}
.proyectoIndividual:nth-child(1), .proyectoIndividual:nth-child(2){
  flex-grow:2;
  flex-basis:48%;
}
.header {
  background: #ffffff;
  border: 1px solid #e3e2ef;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 1.6rem;
}
.header a {
  font-size: 2rem;
  font-weight: 600;
}
.projectLogo {
  width: 100%;
  text-align: center;
}
.projectLogo img {
  max-height: 12rem;
  width:auto;
}
.projectDescription {
  padding: 0.8rem 1.6rem 1.6rem;
}

@media screen and (max-width: 800px) {
  .proyectos {
    padding: 2.4rem 0;
  }
  .container{
    padding:0 2.4rem;
  }
  h2 {
    font-size: 2.4rem;
    line-height: 3.2rem;
    text-align: left;
  }
  .proyectoIndividual {
    flex-grow:1;
    flex-basis:100%;
    margin:0 -1.6rem;
    margin-bottom:0.8rem;
  }
  .proyectoIndividual:nth-child(1), .proyectoIndividual:nth-child(2){
    flex-grow:1;
    flex-basis:100%;
  }
  .projectDescription {
    padding: 0 0.8rem;
    font-size:1.4rem;
  }
  .projectLogo {
    margin-bottom: 0.8rem;
  }
  .projectLogo img {
    max-height: 8rem;
  }
}
